<h1>Geekkobe2</h1>
<h3>投稿一覧</h3>
<%= link_to "新規投稿へ", students_new_path %>
<div class="students-container">
  <% @students.each do |t| %>
    <div class="student">
      <%= t.body %>
      <%= t.created_at %>
    </div>
  <% end %>
</div>